name: build and push backend image to ACR

on: workflow_dispatch
permissions:
  id-token: write
  contents: read
jobs:
  Build-push-to-acr:
    runs-on: ubuntu-latest
    env:
      ACR_NAME: aksacr
      IMAGE_NAME: add-get-todo
      IMAGE_TAG: v1
      ACR_Login_server: aksacr.azurecr.io
      

    steps:
    - name: Checkout
      uses: actions/checkout@v6.0.1
    - name: Azure Login
      uses: Azure/login@v2.3.0
      with:
        client-id: a3c6ced6-a89f-4201-9eda-b613af4e617d
        tenant-id: c28e5f26-06dc-439c-b874-557c13f4c5e6
        subscription-id: eac08841-5119-4501-b5ac-82e7a5d29114
    - name: log into ACR
      run: |
        az acr login --name $ACR_NAME
    - name: build docker image
      run: |
        docker build -t $IMAGE_NAME:$IMAGE_TAG .
    - name: Tag docker image for ACR
      run: |
        docker tag $IMAGE_NAME:$IMAGE_TAG $ACR_Login_server/$IMAGE_NAME:$IMAGE_TAG
    - name: push to ACR
      run: |
        docker push $ACR_Login_server/$IMAGE_NAME:$IMAGE_TAG
        
        
        
        
        
      
      
    
    
  
  
